@page "/modelos"

@using System.Net.Http
@using System.Net.Http.Json
@using Zapatillas.Domain.Entities
@inject HttpClient Http

<h3>Modelos</h3>

<div class="row">
    <div class="col-12 text-right">
        <a href="modeloForm">Nuevo</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>SKU</th>
        <th>Denominacion</th>
        <th>Limite Inferior Reproceso</th>
        <th>Limite Superior Reproceso</th>
        <th>Limite Inferior Observado</th>
        <th>Limite Superior Observado</th>
        <th></th>
    </tr>
    @if(oRespuesta != null && oRespuesta != null)
    {
        @foreach (var oElement in (List<Modelo>)oRespuesta)
        {
                <tr>
                    <td>@oElement.Sku</td>
                    <td>@oElement.Denominacion</td>
                    <td>@oElement.LimiteInferiorReproceso</td>
                    <td>@oElement.LimiteSuperiorReproceso</td>
                    <td>@oElement.LimiteInferiorObservado</td>
                    <td>@oElement.LimiteSuperiorObservado</td>
                    <td>
                        <a href="/colorForm/@oElement.Id">Editar</a>
                        <a href="/colorForm/@oElement.Id">Eliminar</a>
                    </td>
                </tr>
        }
    }
</table>

@code {
    public string Url = "/Model/AllAsync";
    public List<Modelo> oRespuesta = new List<Modelo>();

    protected override async Task OnInitializedAsync() =>
        oRespuesta = await Http.GetFromJsonAsync<List<Modelo>>(Url);

}